<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.vinci.accengage-manual-push"
        version="0.0.1">
    <name>Accengage manual push plugin</name>
    <description>A plugin to XXXXXXXXXXX</description>
    <license>MIT</license>
    <keywords>cordova,plugin,accengage,manual,push</keywords>
    <repo>https://github.com/BeliliFahem/cordova-plugin-example.git</repo>
    <issue>https://github.com/BeliliFahem/cordova-plugin-example.git/issues</issue>
 
    <js-module src="www/plugin.js" name="AccengageManualPush">
        <clobbers target="com.vinci.AccengageManualPush" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AccengageManualPush">
                <param name="ios-package" value="AccengageManualPush" onload="true"/>
            </feature>
        </config-file>

        <header-file src="src/ios/AccengageManualPush.h" />
        <source-file src="src/ios/AccengageManualPush.m" />
    </platform>

</plugin>